@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:   hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 500px;
}
.left {
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    width: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right {
    width: 50%;
    padding: 40px;
}

.right p:first-child {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
    margin-bottom: 15px;    
}

p {
    font-size: 14px;
}

h1 {
    font-family: 'Fraunces', serif;
    margin-bottom: 20px;
}

.right p:last-of-type{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    letter-spacing: 1px;
    margin-bottom: 15PX;
}

.money {
    display: flex;
    margin-bottom: 30px;
}

.money h2 {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.money h6 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    padding: 5px;
    padding-top: 8px;
    margin-left: 10px;
    text-decoration: line-through;
}

button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: hsl(212, 21%, 14%);
    transition: 0.4s;
}

@media screen and (max-width: 900px) {
    
    .content {
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        margin: 20px; 
    }

    .right {
        height: 50%;
        width: 100%;
    }

    .left {
        height: 50%;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    p, h1, .money {
        margin-bottom: 10px;
    } 

}

@media  screen and (max-width: 400px) {
    
    button {
        height: 30px;
        font-size: 14px;
        padding: 0;
    }

    p, h1, .money {
        margin-bottom: 0px;
    } 
}